*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
}
 h2{
    text-align: center;
    padding-top: 60px;
    color: rgb(230, 36, 68);
    font-family: 'Dancing Script', cursive;
}
h1{
    text-align: center;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
    
}
 .hr{
    width: 4vw;
    height: 0.4vh;
    border: none;
    background-color: rgb(230, 36, 68);
    margin: auto;
}
.para{
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.chef{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.card{
    box-shadow: 0 1px 0 1px gray;
    width: 20%;
    margin: 20px;
    
}
.card .image {
    position: relative;
    width: 100%;
    
}
.image img{
    width: 100%;
    height: 40vh;
}
.card .intro{
    position: absolute;
    width: 15%;
    box-shadow: 1px 1px 0 1px gray;
    margin-top: -35px;
    background-color: white;
    text-align: center;
    margin-left: 35px;
    height: 9vh;
}
.intro button{
    margin-top: 5px;
    color: rgb(230, 36, 68);
    height: 3vh;
    width: 6vw;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: transparent;
}
.intro h3{
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.card .para1{
    width: 100%;
    padding-top: 45px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.icon{
    margin-left: 80px;
}
.icon i{
    font-size: 15px;
    margin: 10px;
    margin-bottom: 20px;
}
